@media screen and (min-width: 980px) {



  body {
    width: 980px;
    margin: 0 auto;

  }

  section {
    display: block;
  }

  .container {
    width: 925px;
    margin: 0 auto;
    margin-top: 30px;

  }

  .titleContent {
    width: 600px;
    float: right;
  }


  .aboveContent {
    width: 295px;
    float: left;
    margin-top: 0;
  }

  .behindIcon {
    margin-right: 40px;
  }

  .dateTime {
    margin-left: 80px;
  }

  .timeCone {
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 10px 10px 10px 10px;
   border-color: transparent $darkBlue transparent transparent;
   position: absolute;
   left: -19px;
   top: 13px;
 }

  #all {
    position: relative;
    height: 1380px;


  }

  #all::before {
    content: '';
    position: absolute;
    top: 0;
    left: 222px;
    height: 100%;
    width: 9px;
    background: $lightBlue;


  }

  .icon {
    position: absolute;
  }

};
